/* fonts */

@font-face { font-family: 'Source Sans Pro'; font-style: italic; font-weight: 900; src: url('/fonts/source-sans-pro-v13-latin-900italic.eot'); src: local('Source Sans Pro Black Italic'), local('SourceSansPro-BlackItalic'), url('/fonts/source-sans-pro-v13-latin-900italic.eot?#iefix') format('embedded-opentype'), url('/fonts/source-sans-pro-v13-latin-900italic.woff2') format('woff2'), url('/fonts/source-sans-pro-v13-latin-900italic.woff') format('woff'), url('/fonts/source-sans-pro-v13-latin-900italic.ttf') format('truetype'), url('/fonts/source-sans-pro-v13-latin-900italic.svg#SourceSans Pro') format('svg'); }
@font-face { font-family: 'Qwigley'; font-style: normal; font-weight: 400; src: url('/fonts/qwigley-v9-latin-regular.eot'); src: local('Qwigley'), local('Qwigley-Regular'), url('/fonts/qwigley-v9-latin-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/qwigley-v9-latin-regular.woff2') format('woff2'), url('/fonts/qwigley-v9-latin-regular.woff') format('woff'), url('/fonts/qwigley-v9-latin-regular.ttf') format('truetype'), url('/fonts/qwigley-v9-latin-regular.svg#Qwigley') format('svg'); }
@font-face { font-family: 'Arizonia'; font-style: normal; font-weight: 400; src: url('/fonts/arizonia-v10-latin-regular.eot'); src: local('Arizonia Regular'), local('Arizonia-Regular'), url('/fonts/arizonia-v10-latin-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/arizonia-v10-latin-regular.woff2') format('woff2'), url('/fonts/arizonia-v10-latin-regular.woff') format('woff'), url('/fonts/arizonia-v10-latin-regular.ttf') format('truetype'), url('/fonts/arizonia-v10-latin-regular.svg#Arizonia') format('svg'); }
@font-face { font-family: 'Gothic A1'; font-style: normal; font-weight: 300; src: url('/fonts/gothic-a1-v8-latin-300.eot'); src: local('Gothic A1 Light'), local('GothicA1-Light'), url('/fonts/gothic-a1-v8-latin-300.eot?#iefix') format('embedded-opentype'), url('/fonts/gothic-a1-v8-latin-300.woff2') format('woff2'), url('/fonts/gothic-a1-v8-latin-300.woff') format('woff'), url('/fonts/gothic-a1-v8-latin-300.ttf') format('truetype'), url('/fonts/gothic-a1-v8-latin-300.svg#GothicA1') format('svg'); }
@font-face { font-family: 'Alegreya Sans SC'; font-style: normal; font-weight: 400; src: url('/fonts/alegreya-sans-sc-v9-latin-regular.eot'); src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url('/fonts/alegreya-sans-sc-v9-latin-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/alegreya-sans-sc-v9-latin-regular.woff2') format('woff2'), url('/fonts/alegreya-sans-sc-v9-latin-regular.woff') format('woff'), url('/fonts/alegreya-sans-sc-v9-latin-regular.ttf') format('truetype'), url('/fonts/alegreya-sans-sc-v9-latin-regular.svg#AlegreyaSans SC') format('svg'); }
@font-face { font-family: 'Special Elite'; font-style: normal; font-weight: 400; src: url('/fonts/special-elite-v10-latin-regular.eot'); src: local('Special Elite Regular'), local('SpecialElite-Regular'), url('/fonts/special-elite-v10-latin-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/special-elite-v10-latin-regular.woff2') format('woff2'), url('/fonts/special-elite-v10-latin-regular.woff') format('woff'), url('/fonts/special-elite-v10-latin-regular.ttf') format('truetype'), url('/fonts/special-elite-v10-latin-regular.svg#SpecialElite') format('svg'); }
/* @font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 600; src: url('/fonts/open-sans-v17-latin-600.eot'); src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('/fonts/open-sans-v17-latin-600.eot?#iefix') format('embedded-opentype'), url('/fonts/open-sans-v17-latin-600.woff2') format('woff2'), url('/fonts/open-sans-v17-latin-600.woff') format('woff'), url('/fonts/open-sans-v17-latin-600.ttf') format('truetype'), url('/fonts/open-sans-v17-latin-600.svg#OpenSans') format('svg'); } */
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 800; src: url('/fonts/open-sans-v17-latin-800.eot'); src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('/fonts/open-sans-v17-latin-800.eot?#iefix') format('embedded-opentype'), url('/fonts/open-sans-v17-latin-800.woff2') format('woff2'), url('/fonts/open-sans-v17-latin-800.woff') format('woff'), url('/fonts/open-sans-v17-latin-800.ttf') format('truetype'), url('/fonts/open-sans-v17-latin-800.svg#OpenSans') format('svg'); }
@font-face { font-family: 'Lalezar'; font-style: normal; font-weight: 400; src: url('/fonts/lalezar-v6-latin-regular.eot'); src: local('Lalezar'), local('Lalezar-Regular'), url('/fonts/lalezar-v6-latin-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/lalezar-v6-latin-regular.woff2') format('woff2'), url('/fonts/lalezar-v6-latin-regular.woff') format('woff'), url('/fonts/lalezar-v6-latin-regular.ttf') format('truetype'), url('/fonts/lalezar-v6-latin-regular.svg#Lalezar') format('svg'); }
@font-face { font-family: 'IBM Plex Serif'; font-style: normal; font-weight: 100; src: url('/fonts/ibm-plex-serif-v8-latin-100.eot'); src: local('IBM Plex Serif Thin'), local('IBMPlexSerif-Thin'), url('/fonts/ibm-plex-serif-v8-latin-100.eot?#iefix') format('embedded-opentype'), url('/fonts/ibm-plex-serif-v8-latin-100.woff2') format('woff2'), url('/fonts/ibm-plex-serif-v8-latin-100.woff') format('woff'), url('/fonts/ibm-plex-serif-v8-latin-100.ttf') format('truetype'), url('/fonts/ibm-plex-serif-v8-latin-100.svg#IBMPlex Serif') format('svg'); }

html{
    scroll-behavior: smooth;
}

body{
    margin:0px;
}
/* Index Page */
div.div3{
    	
}
div.div1{
		
		
		background-color:#f2f2f2;
		 	
        
    
				}
img.ab{
    position: absolute;
    padding-left: 50px;
    padding-top: 200px;
    
}
.div4 p.p1{
    position: absolute;
   padding-left:650px;
    padding-top: 80px;
    	color:	#303030;
	
	font-family:'Arial Black';
	font-size:30px;
    
}

.div4 {
    padding-top: 200px;
    padding-left: 400px;
    padding-bottom: 300px;
    background-color: 	#C0C0C0;
}
.div4 font{
    color:	#383838;
	
	font-family:'Alegreya Sans SC';
	font-size:40px;
}
.div4 li{
   font-family: 'Gothic A1';
	font-size:20px;
	color:	#404040;
    padding-top: 30px;
}
.div5{
    
    	background-color:	#F8F8F8;
    padding-top: 50px;
    padding-bottom: 200px;
    padding-left: 50px;
}
.div5 font {
    font-size: 40px;
    font-family: 'Alegreya Sans SC';
    color: 	#686868;
     
}
.div5 img.ab{
    margin-top: 400px;
    margin-left: -150px;
}
.div5 p.div51{
    font-family: 'Alegreya Sans SC';
    font-size: 25px;
    text-align: center;
}
.div5 p.div52{
    font-family: 'Special Elite';
    font-size: 17px;
    text-align: center;
    color:	#606060;
    line-height: 1.8;
    
}
.div6{
    width: 900px;
    height: auto;
  padding: 10px;
  border: 1px solid red;
  margin-left:300px;
   
    padding-bottom: 20px;
    
}

.div6 font{
    font-family:'Arial Black';
	font-size:25px;
    position: relative;
    line-height:0.5;
    
    
    /*map */
   
    
}
.div6 p.div61{
    color:	blue;
    font-family: 'Qwigley';
    font-size: 25px;
    
}
.div6 blockquote{
    font-family: 'Gothic A1';
    line-height:1.5;
    font-size: 20px;
}
.div6 img{
   
  border-radius: 50%;

}
.div7{
    padding-top: 50px;
    padding-left: 260px;
  
}
.div8{
    padding-bottom: 200px;
    background-color: #F8F8F8;
    
   
}
.div8 font{
    font-size: 40px;
    font-family: 'Alegreya Sans SC';
    color: 	#686868;
   
}
.lsp{
    position:absolute;
}

.rsp{
    position:absolute;
    right: 40px;
}
.div9{
    
    padding-top: 30px;
    background:#F8F8F8;
    padding-bottom: 70px;
    
    
}
.div9 img{
    position: absolute;
    top:3250px;
    left: 1130px;
}
.div9 table{
    border-collapse: collapse;
    text-align: center;
    font-family: 'Gothic A1';
	font-size:28px;
	color:	white;
    font-weight: bold;
    border-radius: 9px;
    margin-left: 90px;
    
}
.div9 table td{
   
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 13px;
}
.div9 font{
    font-size: 40px;
    font-family: 'Alegreya Sans SC';
    color: 	#686868;
   
}
.back{
    height: 70px;
    width: 240px;
    margin-bottom: 25px;
    position: relative;
    
    border-radius: 18px;
}
.vl1 {
    position: absolute;
    left: 950px;
  border-left: 1px solid black;
  height: 300px;
}
				
div.menubar {
		margin:0px;
    z-index: 500;
        position: sticky;
        top:0;
    background-color:#f2f2f2;
			
			}
div.header{
    
   
}
.header_name {
        font-family: 'Qwigley';
        font-size: 40px;
		
		left: 0;
					}
.header_name>a{
    text-decoration: none;
    color:black;
}
					
.language {
		padding-left:850px;
		font-family: 'Gothic A1';
        font-size: 12px;
							
			}
			
.header_logo{
		padding-left:200px;
}			
hr.a1 {
			
		border-top: 1px solid #b3b3b3;
				}
				
			
/*Menu Bar */			
			
td.bars{
		padding-left:200px;
		padding-right:100px;
		}
			
td.menu1{
		font-family:'Alegreya Sans SC';
		font-size:25px;
		padding-right:120px;
    
			}
td.menu1>a{
    text-decoration: none;
    color:black;
}
			
td.menu2{
		font-family:'Alegreya Sans SC';
		font-size:25px;
		padding-left:280px;
			}
td.menu3{
		font-family:'Alegreya Sans SC';
		font-size:25px;
		padding-left:30px;
    
			}
td.menu3>a{
	text-decoration:none;
	color:black;
}		
			
/* Login Button */

.login-form{
	display:none;
	position:absolute;
	width:280px;
	height:auto;
	background:#fff;
	top:37px;
	border-radius:4px;
	opacity:0.9;
	
	
}

.login-form>form{
width:230px;
margin:25px auto;
font-size:16px;
font-family: sans-serif,Arial;
color:gray;


}

.credentials>input[type="password"],input[type="text"]{
	width:190px;
	height:25px;
	border:2px ;
	border-color:black;
	padding-left:4px;
	border-radius:4px;
	margin-bottom:10px;
	margin-top:5px;
	font-family:'Gothic A1';
	font-size:16px;
}
.credentials1{
	padding-bottom:20px;
}
.credentials1>input[type="submit"]{
	width:95%;
	height:30px;
	background: #4CAF50;
	font-size:18px;
	font-family:'Gothic A1';
	color:white;
	outline:none;
	border:0px;
	cursor: pointer;
	border-radius:3px;
}

.credentials1>input[type="submit"]:hover{
    background-color: #0b8256;
}

td.menu2:hover .login-form{
	display:block;
}



/* Button */

.buttona {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
    position: absolute;
   top:650px;
    right:1200px;
    
    
}
.button1 {
    background-color: #f44336;
  color: white;
  
}

.button1:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}
.buttonb {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
    position: relative;
    top:150px;
    left:150px;
}

.button2 {
  background-color: #555555;
  color: white;
}

.button2:hover {
    background-color: white;
  color: black;
  border: 2px solid #555555;
  
}

.buttonc {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
    position: relative;
    top:-70px;
    left:750px;
  
    
}

.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button3:hover {
  background-color: #008CBA;
  color: white;
}

.buttond {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
    position: relative;
    top:150px;
    margin-left: 150px;
   
    
}

.button4 {
  background-color: #008CBA;
  color: white;
}

.button4:hover {
background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  
}
.buttone {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
    position: relative;
    top:150px;
    left:150px;
    margin-right: 130px;
}

.button5 {
   background-color: #f44336;
  color: white;
}

.button5:hover {
 background-color: white; 
  color: black; 
  border: 2px solid #f44336;
  
}

.buttonf {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
    position: relative;
    top:150px;
    left:150px;
    margin-right: 130px;
    
    padding-left: 60px;
    padding-right: 60px;
}

.button6 hover {background-color: #e7e7e7;}

.button6:hover {
background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  
}
.buttong {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
    position: relative;
    top:150px;
    left:150px;
    
}

.button7 {
background-color: #555555;
  color: white;
}

.button7:hover {
background-color: white;
  color: black;
  border: 2px solid #555555;
  
}

.buttonh {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
    position: relative;
    top:130px;
    left:650px;
    
}

.button8 {
background-color: #555555;
  color: white;
}

.button8:hover {
background-color: white;
  color: black;
  border: 2px solid #555555;
  
}

p.ind {
    position: absolute;
    top:450px;
    right:1080px;
    color:black;
    font-family:'Lalezar';
	font-size:40px;
    text-align: center;
}


/*End Bar */


.div2{
	
		background-color:#000;
		
		
		position:relative;
    margin-top:-14px;
    margin-bottom: -15px;
    
	
}
/*
.div2>table{
	margin-left:auto; 
    margin-right:auto;
	padding-top:40px;
	padding-bottom:40px;
	
	
	
}
*/
.foot1{
	font-family:'Lalezar';
	font-size:15px;
	color:	#A9A9A9;
	text-align:center;
    padding-top: 20px;
	
}

p.foot1>a{
    text-decoration: none;
    color:	#A9A9A9;
}

.foot2{
	text-align:center;
	color:white;
}

p.foot2>a{
    text-decoration: none;
    color:white;
}
.foot3{
	color:white;
	text-align:center;
	font-family:'Alegreya Sans SC';
	font-size:35px;
	
	
}

.foot4{
	color:white;
	text-align:center;
	font-family:'Alegreya Sans SC';
	font-size:25px;
	margin-top:-35px;
	
}

.foot5{
	color:	#606060;
	text-align:center;
	font-family:'Arial Black';
	font-size:20px;
}
.foot6{
    color:	#606060;
	text-align:center;
	font-family:'Arial Black';
	font-size:12px;
    padding-bottom: 20px;
    letter-spacing:1px;
    
}
.hr1{
	height: 1px;
	color:	#303030;
	background-color:	#303030;
	border: none;
}

			